name: Documenter
on:
  push:
    branches: [master]
    tags: [v*]
  pull_request:

jobs:
  Documenter:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v1
        with:
          version: nightly               # change this to 1.6 once's that's official
          show-versioninfo: true         # this causes versioninfo to be printed to the action log
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-docdeploy@latest
        env:
          GITHUB_TOKEN: \${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: \${{ secrets.DOCUMENTER_KEY }}
